/*
  ========================================
  Reset
  ========================================
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background: #1B3B49;
  color: #C5E6E8;
  font: 300 16px/22px "Play", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
  ========================================
  Typography
  ========================================
*/
h1, h3 {
  color: #420C00;
}
h1 {
  font-size: 40px;
  line-height: 44px;
}
h3 {
  font-size: 30px;
  line-height: 44px;
}
h4 {
  font-size: 20px;
  margin-bottom: 22px;
}
h3, h4 {
  text-decoration: underline;
}
/*
  ========================================
  Links
  ========================================
*/
a {
  color: #162534;
  text-decoration: none;
}
a:hover {
  color: #738591;
}
.back {
  padding-left: 20px;
}
/*
  ========================================
  Home
  ========================================
*/
.about {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 22px;
  line-height: 30px;
}
.hobbies {
  margin-bottom: 22px;
  margin-top: 22px;
}
/*
  ========================================
  Primary Header
  ========================================
*/
.primary-header {
  background: #F4E62E;
  background: linear-gradient(to right, #F4E68F, #F4E62E, #F4AF14);
}
.logo {
  float: left;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: .5px;
  padding: 40px 0 5px 20px;
  margin-bottom: 0;
}
.subject {
  text-align: left;
  padding-top: 135px;
  padding-left: 21px;
}
/*
  ========================================
  Navigation
  ========================================
*/
.nav {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}
.nav li {
  display: inline-block;
  margin: 0 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.secondary-nav {
  text-align: left;
  padding-left: 15px;
}
.secondary-nav li {
  display: inline-block;
  margin: 0 5px;
  text-transform: uppercase;
  font-weight: bold;
}
/*
  ========================================
  Primary Footer
  ========================================
*/
.primary-footer {
  background: #F4E62E;
  background: linear-gradient(to right, #F4E68F, #F4E62E, #F4AF14);
  padding-top: 20px;
  padding-bottom: 30px;
}
.cite {
  color: #420C00;
  float: right;
  padding-top: 20px;
}
/*
  ========================================
  Future
  ========================================
*/
.goals {
  background: url(https://media.giphy.com/media/5xtDarHj0ORdxfWtV6g/giphy.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  line-height: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
}
